<button (click)="addPeople()" nz-button nzType="primary" style="margin:20px; width: 100px">Add</button>

<nz-table style="padding: 20px" #myTable [nzData]="listData">
    <thead>
        <tr>
            <th>Name:</th>
            <th>Age:</th>
            <th>Address:</th>
            <th>Operation:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of myTable.data">
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
            <td>{{data.address}}</td>
            <td>
                <a (click)="edit(data)">Edit</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="delete(data)" style="color: red">Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>

<app-edit-modal [data]="editData" [(isVisible)]="modalIsVisible" (clickEvent)="clickEvent()"></app-edit-modal>